---
layout: base.njk
---
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{title}}</h1>
        <p class="col-md-12 fs-4">{{content | safe}}</p>
        <p class="col-md-12" style="padding: 0 350px 0 350px"><img width="500" src="{{featuredImage}}" alt="{{title}}" /></p>
    </div>
</div>