<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>{{ title }}</title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        
        <div class="container py-4">
            {% include 'header.njk' %}
           <main> {{ content | safe }} </main>
            {% include 'footer.njk' %}
       </div>
        
    </body>
</html>