<header class="pb-3 mb-4 border-bottom">
    <svg style="padding-bottom:20px" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
<span class="fs-1 jl-text">Julia Le</span>
</header> 
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex">
      <a class="p-3 link-secondary" href="/">Home</a>
      <a class="p-3 link-secondary" href="/blog">Blog</a>
    </nav>
  </div>