---
title: Avocado
author: Julia
date: 2022-02-21
featuredImage: /assets/blog/avocado.jpg
category: Fruits
description: I grew my avocado trees from seeds starting Aug 2020. Now one of the avocado trees is about 8 feet talk.
layout: 'article.njk'
---

I grew my avocado trees from seeds starting Aug 2020. Now one of the avocado trees is about 8 feet talk.