---
title : Eleventy and Netlify
layout : 'base.njk'
--- 

<div class="p-5 mb-4 bg-light rounded-10 shadow">
    <div class="container-fluid py-5">        
            <div class="col-md-8 fs-4">
                <h1 class="display-5 fw-bold jl-text-big">{{title}}</h1>
                This site is built using Eleventy and deployed to Netlify
            </div>
        <a href="/blog" class="mt-5 btn btn-outline-secondary btn-lg" type="button">Read My Blog</a>
    </div>
</div>